
/**Categorías**/

.cate{
    background-image:url(../imag/paraCate.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.card {
    &-texts{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Charmonman', cursive;
        color: black;
       
        
    }
        &-body{
            background-color: lightblue;
        }
    
}



.card{
   display: inline-block;
   margin-left: 100px;
   left: 50px;
   top: 180px;
   &__imagen{
       height: 240px;
       width: 280px;
       &--protec{
           height: 240px;
           width: 280px;
       }
        &--corporal{
            height: 240px;
            width: 286px;
        
    }

           
       
   }
}

.categoriass{
    &__titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        font-weight: bold;
        font-family: 'Cinzel Decorative', cursive;
        font-size: 3rem; 
         &--Imágenes{
              display: flex;
              justify-content: center;
              color: orange;
              margin-top: 30px;
              background-color: orchid;
              font-size: 30px;
              font-family: 'Happy Monkey', cursive;
        }
    }
}

.contexto{
    &__leyenda{
        display: inline-block;
        color: white;
        background-color: blue;
        margin-top: 40px;
        margin-left: 380px;
        font-size: 25px;
        &--go a{
            background-color: green;
            color: black;

        }
    }
}
/**mixin en Categorías**/
@mixin estilo ($color, $fontsize) {
    font-size: $fontsize;
    background-color: $color;
    font-family: 'Charmonman', cursive;
}


p{
    @include estilo(orange, 30px)
}