$colormenu: black;
$colorhover:yellowgreen;
$colorTitulo:royalblue;
$bgtitulo:red;
$bgmain:limegreen;
$bgsubt:slateblue;
$bgfooter: blueviolet;
$bgmodalobjetivos:orange;
$formulariocontacto:lightblue;
$coloropinión:red;
$withtextarea: 400px;
$color: red;
$background: orange;
$border: black

